.account-update {
  overflow: hidden;
  width: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}


.btn {
  padding: .25rem .5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: .2rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}



.btn label{
  font-size: 1.2rem;
}

@media screen and (min-width: 800px) {

  .account-update {
    width: 50%;
  }
  
  

  

}